.conatiner-modal{
    width: 416px;
    height: 451px;
    border-radius: 4px;
    background-color: #ffffff;
}
.container-box-gray{
    width: 416px;
    height: 109px;
    background-color: #c1c1c1;
}
.container-img-position{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.container-instructions{
    
}
.text-title-send-mail{
    width: 320px;
    font-family: 'Lato';
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color:#10587f;
}
.text-instructions{
    width: 366px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #686868;
}
.text-mail-send{
    width: 240px;
    font-family: 'Lato';
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #686868;
}
.text-time-forget-password-change{
    width: 360px;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #686868;
}
