.header-box{
    display: flex;
    background-color: #10587f;
    align-items: center;
    height: 80px;
    justify-content: space-between;
}

.header-box_logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 179px;
    height: 30px;
    margin-left:32px;
}

img{
    margin-bottom: 0;
}

.container-btn-register{
    margin-right: 48px
}

.btn-register {
    width: 136px;
    height: 32px;
    border-radius: 20px;
    background-color: #10587f;
    font-family: 'Lato','Arial',sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    outline:none;
    border-color: #ffffff;
}